@font-face {
            font-family: "DisposableDroidBB";
            src: url("/static/fonts/DisposableDroidBB.ttf");
}

#main-container{
    margin-left : 20px;
    height:100%;
}
h1{
    color: red;
    font-family: "DisposableDroidBB", sans-serif;
}
h2{
    color: deepskyblue;
    font-family: "DisposableDroidBB", sans-serif;
}

h3{
    font-family: "DisposableDroidBB", sans-serif;
}

h4{
    font-family: "DisposableDroidBB", sans-serif;
}

h5{
    font-family: "DisposableDroidBB", sans-serif;
}

h6{
    font-family: "DisposableDroidBB", sans-serif;
}

button{
    font-family: 'DisposableDroidBB', sans-serif;
}

label{
    color: deepskyblue;
    font-family: "DisposableDroidBB", sans-serif;
}
nav{
top:0px;
left:0px;
right:0px;
height:60px;
}

footer {
margin-top:auto;
bottom:0px;
left: 0px;
right:0px;
margin-bottom: 0px;
width: 100%;
overflow: hidden;
color:#fff;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

a{
    font-family: "DisposableDroidBB", sans-serif;
}

button{
    font-family: "DisposableDroidBB", sans-serif;
}