<!DOCTYPE html>
<html lang="en">
<head>
    <title>FrontlineCode</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!----------------------------------------------------PROGRESSIVE WEB APP--------------------------------------------------------------->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="white"/>

    <!--Meta Tag Specifici per iOS-->
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PWA Esempio">

    <!--Meta Tag Specifici per OS Windows-->
    <meta name="application-name" content="FrontlineCode" />
    <meta name="msapplication-TileImage" content="">
    <meta name="msapplication-TileColor" content="#cc194b">

    <script type="text/javascript">
    var timeleft = {{question_time}};
    var countDown = setInterval(function(){
      if(timeleft <= 0){
        clearInterval(countDown);
        document.getElementById("countdown").innerHTML = "0";
      }
      else {
        let mycount=document.getElementById("countdown")
        mycount.innerHTML = timeleft;
      }
      timeleft -= 1;
    }, 1000);

    function change(){
        document.getElementById("timespent").value= timeleft
          }
    </script>
    <!----------------------------------------------------PROGRESSIVE WEB APP--------------------------------------------------------------->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#cc194b"/>

    <!--Favicon del Sito Web-->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!--Meta Tag Specifici per iOS-->
    <link rel="apple-touch-icon" href="images/152x152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PWA Esempio">


    <!--Meta Tag Specifici per OS Windows-->
    <meta name="application-name" content="PWA Esempio" />
    <meta name="msapplication-TileImage" content="images/144x144.png">
    <meta name="msapplication-TileColor" content="#cc194b">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" style=" width:18%;"></a>
      <div class="pagination justify-content-end" style="width:100%; height:100%">
              <div style="align-items: self-end">
                  <a href='/protected_area'><button type='button' style='height:38px; font-family: "DisposableDroidBB", sans-serif; margin-right:5px;' class='btn btn-outline-light'>Exit</button></a>
              </div>
          </div>
      </nav>

  <div id="main-container">
      {% block content %}
      {%if difficulty == 'easy':%}
        <h1 align="center" style="text-transform: uppercase; color:blue;">LEVEL {{level}}: {{difficulty}}<br><p id="countdown">{{question_time}}</p></h1>
      <center><h3 style="color:blue;">Question: {{question_text}} </h3></center>
      {% endif %}
      {%if difficulty == 'amateur':%}
        <h1 align="center" style="text-transform: uppercase; color:green;">LEVEL {{level}}: {{difficulty}}<br><p id="countdown">{{question_time}}</p></h1>
        <center><h3 style="color:green;">Question: {{question_text}} </h3></center>
      {% endif %}
      {%if difficulty == 'hard':%}
        <h1 align="center" style="text-transform: uppercase; color:darkred;">LEVEL {{level}}: {{difficulty}}<br><p id="countdown">{{question_time}}</p></h1>
        <center><h3 style="color:darkred;">Question: {{question_text}}</h3></center>
      {% endif %}

      <div class="row" id="main-container">
          {% if difficulty == 'easy'%}
          <div class="mh-100" style="width:48%;"><center><h2 style="color: blue">QUESTION CODE</h2></center></div>
          <div class="mh-100" style="width:4%;"></div>
            <div class="mh-100" style="width:48%;"><center><h2 style="color: blue">TAKE A CHOICE</h2></center></div>
          {% endif %}

          {% if difficulty == 'amateur'%}
          <div class="mh-100" style="width:48%;"><center><h2 style="color: green">QUESTION CODE</h2></center></div>
          <div class="mh-100" style="width:4%;"></div>
            <div class="mh-100" style="width:48%;"><center><h2 style="color: green">TAKE A CHOICE</h2></center></div>
          {% endif %}

          {% if difficulty == 'hard':%}
          <div class="mh-100" style="width:48%;"><center><h2 style="color: darkred">QUESTION CODE</h2></center></div>
          <div class="mh-100" style="width:4%;"></div>
            <div class="mh-100" style="width:48%;"><center><h2 style="color: darkred">TAKE A CHOICE</h2></center></div>
          {% endif %}

          <div class="mh-100 rounded" style="width:48%; height:320px; background-color:#eee; border-style:solid; border-color: black; border-width:3px">
                <div class="col-md-6" >
                    {% if difficulty == 'easy'%}
                        <label><h3 style="color: blue">{{question_code}}</h3></label>
                    {% endif %}
                    {% if difficulty == 'amateur'%}
                        <label><h3 style="color:green">{{question_code}}</h3></label>
                    {% endif %}
                    {% if difficulty == 'hard'%}
                        <label><h3 style="color: darkred">{{question_code}}</h3></label>
                    {% endif %}
                </div>
          </div>

          <div class="mh-100" style="width:4%;"></div>

          {% if difficulty == 'easy'%}
            <div class="mh-100 rounded" style="width:48%; height:320px; background-color:#eee; border-style:solid; border-color: black; border-width:3px">
                <form name="save" class="rounded" style="width:100%;" method="POST" action="/gamesaved">
                {% for row in choose: %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="choose" id="flexRadioDefault1" value="{{choose[loop.index-1][0]}}">
                      <label class="form-check-label" for="flexRadioDefault1" style="color: blue">{{choose[loop.index-1][0]}}</label>
                    </div>
                        <input type="hidden" name="question_id" value={{level}}>
                    {% endfor %}
                <button onclick="change()" type="submit" style=" font-family: 'DisposableDroidBB', sans-serif;" class="btn btn-outline-dark" name="time" id="timespent">Submit</button>
                </form>
            </div>
          </div>
          {% endif %}

          {% if difficulty == 'amateur'%}
          <div class="mh-100 rounded" style="width:48%; height:320px; background-color:#eee; border-style:solid; border-color: black; border-width:3px ">
                <form name="save" class="rounded" style="width:100%;" method="POST" action="/gamesaved">
                {% for row in choose: %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="choose" id="flexRadioDefault1" value="{{choose[loop.index-1][0]}}">
                      <label class="form-check-label" for="flexRadioDefault1" style="color: green">{{choose[loop.index-1][0]}}</label>
                    </div>
                        <input type="hidden" name="question_id" value={{level}}>
                    {% endfor %}
                <button onclick="change()" type="submit" style=" font-family: 'DisposableDroidBB', sans-serif;" class="btn btn-outline-dark" name="time" id="timespent">Submit</button>
                </form>
            </div>
          </div>
          {% endif %}

          {% if difficulty == 'hard':%}
          <div class="mh-100 rounded" style="width:48%; height:320px; background-color:#eee; border-style:solid; border-color: black; border-width:3px">
                <form name="save" class="rounded" style="width:100%;" method="POST" action="/gamesaved">
                {% for row in choose: %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="choose" id="flexRadioDefault1" value="{{choose[loop.index-1][0]}}">
                      <label class="form-check-label" for="flexRadioDefault1" style="color: darkred">{{choose[loop.index-1][0]}}</label>
                    </div>
                        <input type="hidden" name="question_id" value={{level}}>
                    {% endfor %}
                <button onclick="change()" type="submit" style=" font-family: 'DisposableDroidBB', sans-serif;" class="btn btn-outline-dark" name="time" id="timespent">Submit</button>
                </form>
            </div>
          </div>
          {% endif %}
          {%endblock %}
      </div>
  </div>

  <footer class="bg-dark text-center text-white">
      <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section>
              <!-- Facebook -->
              <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="!" role="button">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <!-- Instagram -->
              <a class="btn text-white btn-floating m-1"style="background-color: #ac2bac;" href="#!" role="button">
                  <i class="fab fa-instagram me"></i>
              </a>
              <!-- Github -->
              <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
                  <i class="fab fa-github"></i>
              </a>
          </section>
          <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <a style='font-family: "DisposableDroidBB", sans-serif;' href="#">© 2022 Copyright:FrontlineCode</a>
      </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
      <!-- Copyright -->
  </footer>
</body>
</html>