<!DOCTYPE html>
<html lang="en">
<head>
    <title>FrontlineCode</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!----------------------------------------------------PROGRESSIVE WEB APP--------------------------------------------------------------->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="white"/>

    <!--Meta Tag Specifici per iOS-->
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PWA Esempio">

    <!--Meta Tag Specifici per OS Windows-->
    <meta name="application-name" content="FrontlineCode" />
    <meta name="msapplication-TileImage" content="">
    <meta name="msapplication-TileColor" content="#cc194b">
</head>
<body>
    <div id="main-container">
        <center>
        <h2></h2>
        <div class="mh-100" style="width: 450px; height:450px; background-color:#eee; border-style: solid; border-color: black; border-width: 3px;">
            <p name="level">Level: {{level}}</p>
            <p name="text">Question Text:{{question_text}}</p>
            {% block content %}
            {% if score > 50: %}
                <p name="score" style="color:green">CORRECT ANSWER</p>
                <p name="score" style="color:green">Score: {{score}}</p>
            {%else: %}
                <p name="score" style="color:red">WRONG ANSWER</p>
                <p name="score" style="color:red">Score :{{score}}</p>
                <p name="score" style="color:red">Correct answer: {{correct}}</p>
            {%endif%}
            {%endblock%}
            <p name="choose">Your Answer: {{choose}}</p>
            <p name="timespent">Time spent: {{timespent}}</p>
            <div>
                <div class="row" style="width:100%">
                    <div class="col-sm-6">
                        <a href='/protected_area'><button type='button' style='height:38px; font-family: "DisposableDroidBB", sans-serif;' class='btn btn-outline-dark'>Home</button></a>

                    </div>
                    <div class="col-sm-6">
                        <form name="level-form" id="level-form" class="needs-validation" METHOD="GET" ACTION="/game">
                            <button type='submit' style='height:38px; font-family: "DisposableDroidBB", sans-serif;' class='btn btn-outline-dark' value="{{level}}" name="level">Replay</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </center>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>