<!DOCTYPE html>
<html lang="en">
<head>
    <title>FrontlineCode</title>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/protected_area"><img src="" width="250" height="30" style="margin-left:5px;"></a>
          <div class="pagination justify-content-end" style="width:100%; height:100%">
                  <div style="align-items: self-end">
                      <a href='/protected_area'><button type='button' style='height:38px; font-family: "DisposableDroidBB", sans-serif; margin-right:5px;' class='btn btn-outline-light'>Exit</button></a>
                  </div>
              </div>
          </nav>

        <div id="main-container">
            <h1 align="center"> HI ADMIN {{username}}</h1>
            <h3 align="center" style="text-transform: uppercase; font-size: 25px">What do you add in your database?</br></h3>
            <div class="row" style="width: 100%">
                <div class="col-sm-6">
                    <center>
                        <form action="/insertchoose">
                          <label style="color: black">Choose Text:</label><br>
                          <input type="text" id="choosetext" name="choosetext" value=""><br>
                          <label style="color: black">Id Question:</label><br>
                          <select name="questionid" id="questionid">
                              {% block content%}
                              {% for row in question_id:%}
                                <option value="{{question_id[loop.index-1][0]}}">{{question_id[loop.index-1][0]}}</option>
                              {%endfor%}
                              {% endblock%}

                          </select><br><br>
                          <label style="color: black">Correct:</label><br>
                          <select name="choosecorrect" id="choosecorrect">
                              <option value="1">YES</option>
                              <option value="0">NO</option>
                          </select><br><br>
                          <input type="submit" value="send all">
                        </form>
                    </center>
                </div>
                <div class="col-sm-6">
                    <center>
                    <form name="invio" style="margin-left: 10px">
                      <label style="color: black">Question Text:</label><br>
                      <input type="text" id="questiontext" name="questiontext" value=""><br>
                        <label style="color: black">Question Code:</label><br>
                      <input type="text" id="questioncode" name="questioncode" value=""><br><br>
                      <label style="color: black">Correct Output:</label><br>
                        <input type="text" id="correctoutput" name="correctoutput" value=""><br><br>
                      <label style="color: black">Difficulty:</label><br>
                        <select id="difficulty" name="difficulty" value="">
                            <option value="easy">EASY</option>
                            <option value="amateur">AMATEUR</option>
                            <option value="hard">HARD</option>
                        </select><br><br>
                      <label style="color: black">Question Time:</label><br>
                      <input type="number" id="questiontime" name="questiontime" value=""><br><br>
                      <input type="submit" value="Invia" onclick=valida()>
                    </form>
                    </center>
                <script type="text/javascript">
                    function valida() {
                    // Variabili associate ai campi del modulo
                           var questiontext = document.invio.questiontext.value;
                           var questiontime = document.invio.questiontime.value;
                           var questioncode = document.invio.questioncode.value;
                           var difficulty = document.invio.difficulty.value;
                           var correctoutput = document.invio.correctoutput.value;
                           if (questiontext == "") {
                              alert("You have to insert the text of the question");
                              document.invio.questiontext.focus();
                                return false;}
                           if (questioncode == "") {
                              alert("You have to insert the text of the question code");
                              document.invio.questiontext.focus();
                                return false;}
                          if (questiontime == "") {
                              alert("You have to insert the time necessary to resolve the question");
                              document.invio.questiontext.focus();
                                return false;}
                          if (difficulty == "") {
                              alert("You have to insert the difficulty");
                              document.invio.questiontext.focus();
                                return false;
                          }
                          if(correctoutput == ""){
                              alert("You have to insert the correct output");
                              document.invio.questiontext.focus();
                              return false;
                          }

                          else {
                              document.invio.action = "/insertquestion";
                              document.invio.submit();
                           }
                        }
                </script>
                </div>
            </div>
        </div>


        <!--Footer-->
        <footer class="bg-dark text-center text-white" id="footer">
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section>
                    <!-- Facebook -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!-- Instagram -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
                        <i class="fab fa-instagram me"></i>
                    </a>
                    <!-- Github -->
                    <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <a style='font-family: "DisposableDroidBB", sans-serif;' href="#">© 2022 Copyright:FrontlineCode</a>
            </div>

        </footer>

    </body>
</html>